/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login-options{
    text-align: center;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Header */
header {
    background:linear-gradient(45deg,#0C2430,#389EAC,#0C2430);
    color: #fff;
    padding: 20px;
    text-align: center;
}
/* Buttons */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    margin: 10px 0;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
}

.btn:hover {
    background-color: #555;
}

/* Forms */
form {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
}

form button:hover {
    background-color: #555;
}
